@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --primary-color: #467cf0;
  --third-color: #141522;
  --secondary-color: #21253c;
  --border-color: #3b436d;
  --bg-color: #0a0a10;
  --text-color: #e1eaff;
}

a {
  text-decoration: none;
  font-weight: 700;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
}

[class$="__container"] {
  max-width: 1420px;
  padding: 0px 20px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
